In [32]:
import pandas as pd
import numpy as np
cash_flows = [-100, -50, 60, 10, 110]
scaled = [-120, -57.14, 62.61, 10.26, 110]  # Example scaled cash flows

# Create artificial dates for illustration
dates = pd.date_range(start='2020-01-01', periods=len(cash_flows), freq='Y')

# Create DataFrame
df1 = pd.DataFrame({
    'date': dates,
    'Cashflow': cash_flows,
    'scaled_cashflow': scaled
})
df1

C:\Users\Asus\AppData\Local\Temp\ipykernel_3480\1723324183.py:7: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  dates = pd.date_range(start='2020-01-01', periods=len(cash_flows), freq='Y')

        date  Cashflow  scaled_cashflow
0 2020-12-31      -100          -120.00
1 2021-12-31       -50           -57.14
2 2022-12-31        60            62.61
3 2023-12-31        10            10.26
4 2024-12-31       110           110.00

In [27]:
from pme_calc import xirr, ln_pme, pme_plus, direct_alpha

In [33]:
direct_alpha(df1)

0.010907144298188412

In [36]:
xirr(df1['date'], df1['scaled_cashflow'])

0.010907144298188412

In [39]:
import math
def direct_alpha(df):
    #nav todo
    alpha_cf = np.array(df['scaled_cashflow'])
    a = xirr(df['date'], alpha_cf)
    return math.log(1 + a)

In [40]:
direct_alpha(df1)

0.010848090417901867